# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
end_of_line = crlf
insert_final_newline = false

[*.{js,ts,html,css}]
charset = utf-8
indent_style = space
indent_size = 4

[**.json]
indent_style = space
indent_size = 2