body {
  margin: 2em;
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
}

.scenario { 
  padding: 1em;
  margin: 1em 0;
  border: 1px solid lightgray;
}

.steps {
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.sortable-ghost {
  opacity: 0.5;
}
step {
  display: block;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
step .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
