<mark>Examples:</mark>
<table class="table table-bordered">
    <thead>
        <tr>
            <th *ngFor="let column of table.columns; let colIndex = index">
                {{column}}
            </th>
            <th class="tableToolbar">
            </th>
        </tr>
    </thead>
    <tbody [sortablejs]="table.rows" [sortablejsOptions]="sortableOptions" *ngIf="table.columns.length > 0">
        <tr *ngFor="let row of table.rows; let rowIndex = index" class="sortableRow">
            <td *ngFor="let column of table.columns">
                <input 
                    type="text"
                    class="minimal"
                    [(ngModel)]="row[column]"/>
            </td>
            <td class="tableToolbar" align="right">
                <div class="btn-group"> 
                    <button type="button" class="btn btn-default sortableHandle">
                        <span class="glyphicon glyphicon-move"></span>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="table.rows.splice(rowIndex, 1)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </td>
        </tr>
        <tr>
            <td 
                *ngIf="table.columns.length > 0" 
                [attr.colspan]="table.columns.length + 1" 
                (click)="table.addRow()" 
                [ngClass]="{'add-row': true, 'success': hovering}"
                (mouseenter) ="hovering = true"
                (mouseleave) ="hovering = false"
                align="center">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </td>
        </tr>
    </tbody>
</table>