<div class="panel panel-default">
    <div class="panel-heading">
        <div class="input-group">
            <div class="input-group-addon">{{scenario.type}}:&nbsp;</div>
            <input 
                type="text"
                [(ngModel)]="scenario.name" 
                class="minimal" 
                placeholder="Name">
        </div>
    </div>
    <div class="panel-body">
        <tags [tags]="scenario.tags"></tags>
        <div class="steps" [sortablejs]="scenario.steps" [sortablejsOptions]="sortableOptions">
            <step *ngFor="let step of scenario.steps" [step]="step" [scenario]="scenario"></step>
        </div>
        <div class="newStep">
            <input 
                auto-complete 
                class="minimal"
                [(ngModel)]="newStep" 
                [source]="stepLib" 
                auto-complete-placeholder="Click here to add a new step"
                placeholder="Click here to add a new step"
                display-property-name="displayName"
                (valueChanged)="addStep(newStep)"/>
        </div>
        <scenario-table *ngIf="scenario.table" [table]="scenario.table"></scenario-table>
    </div>
    <div class="panel-footer" *ngIf="!scenario.table">
        <button class="btn btn-info btn-sm" (click)="addTable()">Add Table</button>
    </div>
</div>