step-parameter {
    position: relative;
}

.step-buttons {
    display: inline-block;
}

.step-buttons button {
    padding: 0;
}

.step-buttons button:hover {
    opacity: 0.7;
}

.glyphicon-move {
    color: #333;
}