<mark>{{step.type}}</mark>
<template ngFor let-parameter [ngForOf]="step.parameters" let-parameterNumber="index">
    <span 
        *ngIf="!parameter.regexp">
        {{parameter.value}}
    </span>
    <span class="parameter"
        *ngIf="parameter.regexp" >
        <code
            [ngClass]="getParameterClasses(parameter)"
            (click)="parameter.editing = !parameter.editing">
            {{parameter.value}}</code><!--
     --><div class="editParameterTooltip panel panel-default" [hidden]="!parameter.editing" >
            <div class="inner">
                <input 
                    type="text"
                    [(ngModel)]="parameter.value" 
                    class="form-control input-sm"
                    [pattern]="parameter.regexp" 
                    placeholder="parameter.value"><br>
                <a href="#" (click)="parameter.editing = false">Close</a>
            </div>
        </div>
    </span>
</template>