.steps {
    margin-top: 1em;
}

.steps,
.newStep {
    margin-left: 2em;
}


step {
    display: block;
    cursor: default;
    margin-bottom: 6px;
    line-height: 22px;
}

.panel-footer form {
    margin: 0;
}

.panel-footer .input-group .form-control {
    z-index: initial;
}

.panel-footer button {
    height: 34px;
}