.title {
    display: inline-block;
    margin: 30px 0 0;
}

table {
    font-size: 14px;
    margin: 7px 0 0;
}

th, td {
    vertical-align: middle !important;
}

td input {
    width: 100%;
}

.tableToolbar {
    width: 1%;
}

.tableToolbar .btn-group { 
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.tableToolbar button {
    line-height: 14px;
}

.add-row {
    line-height: 14px;
}

.add-row:hover {
    cursor: pointer;
}