.title {
    display: inline-block;
    margin: 30px 0 0;
}

table {
    font-size: 14px;
    margin: 7px 0 0;
}

th, td {
    vertical-align: middle !important;
}

td input {
    width: 100%;
}

.tableToolbar {
    width: 1%;
}

.tableToolbar .btn-group,
.tableToolbar .input-group { 
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.tableToolbar input {
    width: 110px;
    font-weight: 100;
}

.tableToolbar .input-group-btn {
    width: 40px;
}

.add-row:hover {
    cursor: pointer;
}